{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{% block stylesheets %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap"
 rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
        href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,900&display=swap"
        rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
<link href="/css/header.css" rel="stylesheet">
<link  href="/css/footer.css" rel="stylesheet">
<link rel="stylesheet" href="/css/general.css">


{% endblock %}
<section class="container container_register">
    <h2>Inscription</h2>
    <div class="card_register">
        
        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm._token) }}
        <form class="col-12 col-lg-7 form form_register text-center">
            <div>
            {{ form_widget(registrationForm.email, {
            'attr':{ 'class':'input_form', 'type':'email', 'name':'email', 'placeholder':'Votre adresse email'
        } }) }}
            </div>
            <div>
            {{ form_widget(registrationForm.pseudo, {
            'attr':{ 'class':'input_form', 'type':'text', 'name':'pseudo', 'placeholder':'Votre prénom'
        } }) }}
            </div>
            <div>
            {{ form_widget(registrationForm.telephone, {
            'attr':{ 'class':'input_form', 'type':'text', 'name':'telephone', 'placeholder':'Votre numéro de téléphone'
        } }) }}
            </div>
            <div>
            {{ form_widget(registrationForm.plainPassword, {
            'attr':{ 'class':'input_form', 'type':'password', 'name':'mp', 'placeholder':'Choisissez un mot de passe'
        } }) }}
            </div>
            <input class="envoyer btn" type="submit" value="Valider" name="valider">
        </form>
        {{ form_end(registrationForm) }}
    </div>
</section>
    
    
{% endblock %}
 