<header>
    <nav id="navnav" role="navigation">
        <div id="menuToggle">
            <!--checkbox fantôme-->
            <input type="checkbox" />

            <!-- span pour simuler les barres du menu burger   -->
            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <a href="https://www.clubatheon.com" target="_blank">
                    <img class="logo" src="/images/logo_atheon.png" alt="">
                </a>
                <a href="{{ path('index') }}">
                    <li>Home</li>
                </a>
                <a href="https://www.clubatheon.com" target="_blank">
                    <li>Club Athéon</li>
                </a>
                <a href="{{ path('contact') }}">
                    <li>Contact</li>
                </a>
            {% if app.user %}
                <a href="{{ path('page_user')}}">
                    <li>Mes réservations</li>
                </a>
            {% else %}    
                <a href="{{ path('register')}}">
                    <li>Inscription</li>
                </a>

            {% endif %}    
            {% if app.user %}
                <a href="{{ path('app_logout') }}">
                    <li>Déconnexion</li>
                </a>
            {% else %}
                <a href="{{ path('login')}}">

                    <li>Connexion </li>
                </a>
            {% endif %}
               
            </ul>
    </nav>

        <div class="logoHeader">
            <img src="/img/logo_atheon.png" alt="" class="logo_header">
        </div>
        <!-- img de fond -->
        <section class="nom">
            <h1>Notre objectif, votre progression</h1>
            <div>
                <p class="ss_titre">Nous vous accompagnons dans l'élaboration de votre programme sportif afin qu'il soit adapté à vos objectifs.
                </p>
            </div>

        </section>
        <div class="div_fleche">
            <img src="../img/icon_fleche2-09.png" class="fleche" alt="">
        </div>

    </header>